a.post:link {
    color: #222;
    text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
a.post:visited {
  color: #222;
}
a.post:hover,
a.post:focus {
    color: #eb3812;
}

.post p {
	margin-bottom: 0px;
	margin-top: 0px;
}

.post h1 {
	margin-bottom: 10px;
	margin-top: 2px;
}

hr.post {
    max-width: 50px;
    border-color: #222;
    border-width: 3px;
}

ul.postlist {
  list-style-type: none;
}

.post li {
	margin-bottom: 3em;
    padding-top: 1.5em;
}

.subheading {
    text-align: justify;
	color: #808080
}

div.container, div.content>.container {
    width: 50em;
    display: block;
}