
.resume hr {
    max-width: none;
    width: 100%;
    border-width: 1px;
}


.resume-description {
    text-align: left;
    display: inline-block;
    max-width: 100%;
}

section.resume {
    padding-top: 50px;
    padding-bottom: 100px;
}