---
layout: page
title: About
---
<section class="bg-primary no-padding" id="portfolio">
	<div class="container top">
		<div class="row">
			{% for portfolio_item in site.portfolio %}
			<div class="post-list-item col-lg-6 col-sm-6 col-xs-6">
				<div class="post-list-item-container">
					<div class="item-thumb" bg-" style="background-image: url({{ portfolio_item.image_path }});""></div>
					<a href="{{ portfolio_item.image_link }}" target="{{portfolio_item.image_target}}">
						<div class="item-desc">
							<p>
								{{ portfolio_item.excerpt }}
							</p>
						</div>
					</a>
					<div class="item-label">
						<div class="item-title">
							{{ portfolio_item.description }}
						</div>
						<div class="item-meta clearfix">
							<a href="{{ portfolio_item.button_link }}" class="btn btn-primary btn-xl"> {{ portfolio_item.button_text }}</a>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="bg-primary resume" id="resume">
	<div class="container">
			<div class="col-sm-12 text-center resume-container">
				<hr class="heading">
				<h2 class="section-heading">Resume</h2>
				<hr>
				{% for resume_item in site.resume %}
				<div class="row resume-category col-sm-12"> {{resume_item.category}} </div>
				<div class="row resume-header">
					<div class="col-sm-4">{{ resume_item.company_name }}
						{% if resume_item.location %}
						- {{ resume_item.location}} 
					{% endif %}
					</div>
					<div class="col-sm-4">{{ resume_item.job_title }}</div>
					<div class="col-sm-4">{{ resume_item.employment_date }}</div>
				</div>
				<div class="row pull-left resume-details">{{ resume_item.content }}</div>
				{% endfor %}
			</div>
	</div>
</section>
