---
layout: page
title: Blog
---
<section>
	<div class="container">
		<div class="row">
			<div class="text-center">
				<ul style="list-style-position: inside" class="postlist">
					{% for post in site.posts %}
					<div class="post">
						<li>
						<p>{{ post.date | date: "%d %B %Y" }}</p>
						<h1><a href="{{ post.url }}" class="post">{{ post.title }}</a></h1>
						{% if post.excerpt %} <span class="subheading">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}
						</li>
					</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
